<html>
<head>
	<style>

	h1 {
		color: red;
	}

	h1, h4 {
		text-align: center;
	}

	#form-container {
		text-align: center;
	}

	</style>
</head>
<body>

	<h1> Welcome to the Hackbright Student Database Interface! </h1>
	<h4> Last modified {{ date }} </h4>

<!-- create a form that, upon submit, takes us to /student -->
	<div id="form-container">
		<form action="/student">
			<label for="github">Enter student's github name</label>
			<input type="text" name="github">
			<input type="submit">
		</form>
	</div>

</body>
</html>